@use "constants";
@use "snippets";

.articleListContainer {
  margin-top: 20px;
}

.pageTitle {
  @include snippets.pageTitle;
}

.articleList {
  display: flex;
  flex-direction: column;
  align-items: center;
}