html, body {
  
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  box-sizing: border-box;
}

#layout {
  height: 100vh;
  width: 100vw;
  background-color: #070217;
}

.text-primary {
  color: #CDDB60;
}

.text-secondary {
  color: #ECF5A9;
}