@use "constants";

@keyframes slideIn {
  from {
    top: -300px;
  }

  to {
    top: 0px;
  }
}

@keyframes slideOut {
  from {
    top: 0px;
  }

  to {
    top: -300px;
  }
}

%header-base {
  width: 100%;
  display: flex;
  border-bottom: solid constants.$foreground-primary 3px;
  background-color: constants.$background-primary;
  position: fixed;
  left: 0px;
  z-index: 1;
} 

.header {
  @extend %header-base;
  @media(max-width: 800px) {
    flex-direction: column;
  }
  top: 0px;
}
.headerSlideIn {
  @extend .header;
  animation: slideIn 0.2s ease-in-out;
}

.headerSlideOut {
  @extend %header-base;
  @media(max-width: 800px) {
    flex-direction: column;
    top: -180px;
  }
  @media(min-width: 801px) {
    top: -155px;
  }
  
  animation: slideOut 0.2s ease-in-out;
}

.logoContainer {
  padding: 20px;
  @media(max-width: 800px) {
    align-self: center;
  }
}

.navbar {
  display: flex;
  align-items: center;
  @media(max-width: 800px) {
    align-self: center;
  }
}

.navItem {
  margin: 0px 10px;
  @media(max-width: 800px) {
    margin-bottom: 10px;
  }
}

.navItem a {
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  color: constants.$foreground-primary;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navItem a:hover {
  font-size: x-large;
  color: constants.$foreground-secondary;
}