@use "constants";
@use "snippets";

.container {
  @include snippets.centeredColumn;
}

.introCard {
  @include snippets.card;
  @include snippets.centeredColumn;
  margin-top: 35px;
  width: 90%;
  max-width: 600px;

  h2 {
    padding: 15px 0px 25px 0px;
    font-size: 2em;
  }

  a {
    text-decoration: none;
    color: constants.$foreground-secondary;
    font-size: 18px;
  }

  a:hover {
    color: #EDFAC4;
  }

  p {
    max-width: 300px;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 35px;
  }
}

@keyframes rotate-z-axis {
  from {
    transform: rotateZ(0turn);
  }

  to {
    transform: rotateZ(1turn);
  }
}

@keyframes rotate-y-axis {
  from {
    transform: rotateY(0turn);
  }

  to {
    transform: rotateY(1turn);
  }
}

.projectIcon {
  animation: rotate-z-axis 30s linear;
  animation-iteration-count: infinite;
}

.galleryIcon {
  animation: rotate-y-axis 20s linear 0s;
  animation-iteration-count: infinite;
}

.aboutIcon {
  animation: rotate-y-axis 20s linear -7s;
  animation-iteration-count: infinite;
}

.contactIcon {
  animation: rotate-y-axis 20s linear -14s;
  animation-iteration-count: infinite;
}